*{box-sizing: border-box;}

body{
    background-color: rgb(72, 72, 155);
}  

  header{
      border: 2px solid black;
      display: flex;

  }
  nav{
      display: flex;
      align-items: center;
      justify-content: right;
  }
    