*{box-sizing: border-box;}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    
}
.cookies{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    background-color: salmon;
    
}

.nazwa{

    font-size: 30px;
    margin: 20px;
}

.animals{
    position: sticky;
    top: 0;
    z-index: 1;
    border: 2px solid black;
    background-color: brown;
    
}

.animals h1{
    margin-left: 20%;
    
}

.container{
border:2px dashed red;
  min-height: 100vw;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.container div{
    border:2px dashed blue;
  width: 35vw;
  height: 35vw;
}
.slon {
    border:2px dashed red;
    width:40vw;
    height:40vw;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  transition-delay: 1s;}

.button:active{
    transition: .01s;
    transition-delay: 0s;
    opacity:0;
}

.img{
    background-image: url(https://github.com/apietryga/kurs-Front-end/blob/master/materialy/lekcja2/cw2/slon.jpg?raw=true);
    background-size: cover;
}
.slon div{
    border:2px dashed blue;
  width:100%;
  height:100%;
  position: absolute;}


  .fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 2px solid black;
    background-color: brown;
}

.fixed h2{

    text-align: center;
}


