body{
    background-color: burlywood;
}
.title{
   
    background-color: brown;
    border: 1px solid yellow;
}
.title h1{
    text-align: center;

}
.subtitle{
    border: 2px solid black;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

.subtitle div {
    
    border: 2px dashed pink;
    width: 70px;
    height: 70px;
}
.subtitle div img{
    max-width:100%;
    max-height:100%;
    
}
.content{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.content div{
    border: 2px dashed rebeccapurple;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc{
   flex:6;
}
.picture{
    flex:8;
}

.footer{
    text-align: right;
    padding:15px;
}