body{
    background-color: burlywood;
}
.title{
   
    background-color: brown;
    border: 1px solid yellow;
}
.title h1{
    text-align: center;

}
.subtitle{
    border: 2px solid black;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

.subtitle div {
    
    border: 2px dashed pink;
    width: 70px;
    height: 70px;
}
.subtitle div img{
    max-width:100%;
    max-height:100%;
    
}
.content{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    padding: 20px;
    min-height: 150px;
    min-width: 150px;
}
.content div{
    border: 2px dashed rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    min-width: 100px;
    
}

.desc{
   flex:3;
}
.content img{
    padding: 20px;
    max-height: 100%;
    max-width: 100%;
    
}
.picture{

    flex:4;
}
.footer{
    text-align: right;
    padding:15px;
}